<h1>passengers list</h1>
<ul class="passengers"><!--PassengerDetailComponent-->
  <li *ngFor ="let passenger of passengers; let i = index"  [class.selected]="passenger === selectedPassenger" (click)="onSelect(passenger)">
   <app-passenger [passenger]="passenger"></app-passenger>
    <button (click)="deletePassenger(passenger)">delete</button>
  </li>
</ul>
<h1>hello {{name}}</h1>
<input type="text" [(ngModel)] ="name">
<button (click)="addPassenger(name)">add passenger</button>

<passenger-detail [passenger]="selectedPassenger"></passenger-detail>
