<!--<h3>calendar</h3>

<ul class="calendar">
  <li *ngFor="let driveHour of driveHours" (click)="showLiContent(driveHour)">
   
    <span>
      {{driveHour.hour}}
    </span>
  </li>
</ul>
<ul class="calendar">
  <li *ngFor="let driveHour of driveHours" (click)="showLiContent(driveHour)">
    <div *ngIf="driveHour.drive" [style.background]="'lime'" class="highlightDriveDiv">
      <span>{{driveHour.drive.driver}} : נהג </span>
      <span *ngIf="driveHour.drive.direction"> כיוון : {{driveHour.drive.direction}}</span>
    </div>
    
  </li>
</ul>
-->
