.calendar {
  list-style-type: none;
  float: left;
 /* height:40px;*/
}
.calendar .highlightDriveDiv {
  /* height:40px;*/
  padding: 0;
  margin: 0px;
}

li {
   height: 100px;
  width: 40px;
}

div {
  height: 100px;
  width: 40px;
}



